@charset "UTF-8";
/*fonts*/
/*body base fonts*/
/*кнопки*/
/*nav-menu fonts*/
/*hero fonts*/
/*заголовок*/
/*якірні посилання*/
/*кількість кафе і вагончиків*/
/*lorem in hero*/
/*section products*/
/*section about*/
/*section advantages*/
/*section customer reviews*/
/*section contacts*/
/*footer*/
/*modal windows*/
/* Modal Buy now*/
/* Modal ingredients відрізняється від інших модалок*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.img {
  display: block;
  height: auto;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: #84a178;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .nav-container {
    height: 70px;
    padding-bottom: 10px;
  }
}

.close-modal__btn {
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .close-modal__btn {
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .close-modal__btn {
    display: none;
  }
}

.nav-site {
  display: flex;
  gap: 27px;
}
.nav-site__link {
  padding-top: 14px;
  padding-bottom: 14px;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .nav-site__link {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-site__link {
    font-size: 16px;
  }
}
.nav-site__link:hover, .nav-site__link:focus {
  color: #f8d24e;
}

.nav__button {
  padding-top: 16px;
  margin-left: auto;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .nav__button {
    padding-top: 32px;
    margin-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .nav__button {
    display: none;
  }
}

.header-button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #131313;
  border: none;
  background-color: #f8d24e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
  width: 152px;
  margin-right: auto;
}
.header-button:focus {
  color: #fcfcfc;
}
.header-button:hover, .header-button:focus {
  background-color: #0a8817;
}
.header-button:disabled {
  background-color: #ababab;
}
@media screen and (max-width: 767px) {
  .header-button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 63px;
  background-color: #84a178;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  overflow: scroll;
}
@media screen and (min-width: 1199px) {
  .menu-container {
    visibility: hidden;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.nav-site_item,
.toggle-menu_item {
  list-style: none;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toggle-menu__link {
  color: #fcfcfc;
  font-weight: 700;
  font-size: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .toggle-menu__link {
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .toggle-menu__link {
    font-size: 16px;
  }
}
.toggle-menu__link:hover, .toggle-menu__link:focus {
  color: #131313;
}
.toggle-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.toggle-menu-button {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 34px;
  padding-right: 34px;
  border-radius: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #131313;
  border: none;
  background-color: #f8d24e;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 152px;
}
.toggle-menu-button:focus {
  color: #fcfcfc;
}
.toggle-menu-button:hover, .toggle-menu-button:focus {
  background-color: #0a8817;
}
.toggle-menu-button:disabled {
  background-color: #ababab;
}

.hero {
  background-color: #84a178;
}
.hero__container {
  height: 392px;
  padding-top: 16px;
  position: relative;
  background-size: 260px 315px, 320px 49px;
  background-repeat: no-repeat;
  background-image: url(../images/mobile/main/icecreamhero-mobile@1x.webp), url(../images/mobile/main/pointshero-mobile@1x.webp);
  background-position: top 130px left 33px, left 0px bottom 0px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/mobile/main/icecreamhero-mobile@2x.webp), url(../images/mobile/main/pointshero-mobile@2x.webp);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .hero__container {
    background-image: url(../images/mobile/main/icecreamhero-mobile@3x.webp), url(../images/mobile/main/pointshero-mobile@3x.webp);
  }
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 343px;
    background-size: 400px 480px, 152px 152px, contain;
    background-image: url(../images/tablet/icecreamhero-tablet@1x.webp), url(../images/tablet/galleryhero-tablet@1x.webp), url(../images/tablet/pointshero-tablet@1x.webp);
    background-position: top -78px right 15px, bottom 13px left 32px, left 0px bottom 0px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/tablet/icecreamhero-tablet@2x.webp), url(../images/tablet/galleryhero-tablet@2x.webp) url(../images/tablet/pointshero-tablet@2x.webp);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .hero__container {
    background-image: url(../images/tablet/icecreamhero-tablet@3x.webp), url(../images/tablet/galleryhero-tablet@3x.webp), url(../images/tablet/pointshero-tablet@3x.webp);
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    height: 556px;
    background-size: 600px 740px, contain, 225px 225px;
    background-image: url(../images/desktop/main/icecreamhero-desktop@1x.webp), url(../images/desktop/main/pointshero-desktop@1x.webp), url(../images/desktop/main/galleryhero-desktop@1x.webp);
    background-position: top -80px left 580px, left 0px bottom 0px, bottom 65px left 17px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__container {
    background-image: url(../images/desktop/main/icecreamhero-desktop@2x.webp), url(../images/desktop/main/pointshero-desktop@2x.webp), url(../images/desktop/main/galleryhero-desktop@2x.webp);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .hero__container {
    background-image: url(../images/desktop/main/icecreamhero-desktop@3x.webp), url(../images/desktop/main/pointshero-desktop@3x.webp), url(../images/desktop/main/galleryhero-desktop@3x.webp);
  }
}
.hero__title {
  display: block;
  width: 247px;
  margin-bottom: 32px;
  color: #fcfcfc;
  font-family: "Seymour One";
  font-size: 26px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 38px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 181px;
    margin-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 367px;
    margin-bottom: 28px;
  }
}

.anchors {
  display: flex;
  gap: 8px;
}
@media screen and (min-width: 1200px) {
  .anchors {
    gap: 12px;
  }
}
.anchors__products {
  padding: 7px 10px;
  font-weight: 600;
  font-size: 8px;
  color: #131313;
  text-decoration: none;
  border: 2px solid #f8d24e;
  border-radius: 8px;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .anchors__products {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .anchors__products {
    padding: 12px 34px;
    border-radius: 10px;
  }
}
.anchors__products:hover {
  border-color: #0a8817;
}
.anchors__products:focus {
  color: #fcfcfc;
  border-color: #0a8817;
}
.anchors__products:disabled {
  border-color: #ababab;
}
.anchors__about {
  font-weight: 600;
  font-size: 8px;
  color: #f8d24e;
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .anchors__about {
    font-size: 14px;
  }
}
.anchors__about:hover {
  color: #0a8817;
}
.anchors__about:focus {
  color: #fcfcfc;
}
.anchors__about:disabled {
  color: #ababab;
}

.block-gallery {
  display: none;
}
@media screen and (min-width: 768px) {
  .block-gallery {
    display: flex;
    max-width: 152px;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    bottom: 15px;
    left: 212px;
  }
}
@media screen and (min-width: 1200px) {
  .block-gallery {
    max-width: 240px;
    gap: 32px;
    position: absolute;
    bottom: 95px;
    left: 256px;
  }
}
.block-gallery__text {
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .block-gallery__text {
    font-size: 12px;
    line-height: 1.42;
  }
}
@media screen and (min-width: 1200px) {
  .block-gallery__text {
    font-size: 14px;
  }
}
.block-gallery__link {
  display: block;
  fill: #fcfcfc;
}

.institutions {
  display: none;
}
@media screen and (min-width: 768px) {
  .institutions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 16px;
    right: 32px;
  }
}
.institutions__amount {
  text-align: right;
  color: #131313;
}
@media screen and (min-width: 768px) {
  .institutions__amount {
    font-weight: 900;
    font-size: 28px;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 1200px) {
  .institutions__amount {
    font-size: 46px;
  }
}
.institutions__title {
  text-align: right;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .institutions__title {
    font-size: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .institutions__title {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .institutions {
    gap: 16px;
  }
}

.products-section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  background-image: url(../images/mobile/main/background1@1x.jpg);
  background-repeat: repeat;
  background-size: contain;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-section {
    background-image: url(../images/mobile/main/background1@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .products-section {
    background-image: url(../images/mobile/main/background1@3x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .products-section {
    background-image: url(../images/tablet/background1@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .products-section {
    background-image: url(../images/tablet/background1@2x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 3), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 481px) and (min-resolution: 288dpi), screen and (min-width: 481px) and (min-resolution: 3dppx) {
  .products-section {
    background-image: url(../images/tablet/background1@3x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .products-section {
    background-image: url(../images/desktop/backgrounds/background1@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .products-section {
    background-image: url(../images/desktop/backgrounds/background1@2x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 3), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 769px) and (min-resolution: 288dpi), screen and (min-width: 769px) and (min-resolution: 3dppx) {
  .products-section {
    background-image: url(../images/desktop/backgrounds/background1@3x.jpg);
  }
}

.products__undertitle {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.2222222222;
  text-align: center;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) {
  .products__undertitle {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products__undertitle {
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04;
  }
}

.products__title {
  font-family: "Seymour One";
  font-size: 30px;
  line-height: 1.2666666667;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 148px;
}
@media screen and (min-width: 768px) {
  .products__title {
    font-size: 34px;
    line-height: 1.2647058824;
    margin-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .products__title {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06;
    margin-bottom: 300px;
  }
}

.products__list {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .products__list {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__list {
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products__list {
    gap: 32px;
  }
}

.products__item:nth-child(1):hover {
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}

.products__item:nth-child(2):hover {
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}

.products__item:nth-child(3):hover {
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}

.products__item {
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .products__item {
    width: 280px;
    height: 420px;
    padding: 123px 40px 20px 40px;
  }
}
@media screen and (min-width: 768px) {
  .products__item {
    width: 224px;
    height: 428px;
    padding: 107px 26px 20px 26px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item {
    width: 370px;
    height: 535px;
    padding: 166px 60px 60px 60px;
  }
}

.products__item:nth-child(1) {
  background-color: #aec6a5;
  position: relative;
}

.products__item:nth-child(2) {
  background-color: #efd478;
  position: relative;
}

.products__item:nth-child(3) {
  background-color: #d6936d;
  position: relative;
}

@media screen and (max-width: 767px) {
  .products__item:not(:last-child) {
    margin-bottom: 164px;
  }
}

.products__item:nth-child(1)::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  background-image: linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7)), #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
  background-repeat: no-repeat;
  border: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(1)::before {
    left: 12px;
    right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(1)::before {
    top: -150px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
  }
}

.products__item:nth-child(1)::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -111px;
  background-image: url(../images/mobile/main/products-1_s-@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/mobile/main/products-1_s-@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/mobile/main/products-1_s-@3x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(1)::after {
    left: 12px;
    right: 12px;
    background-image: url(../images/tablet/products-1_m-@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/tablet/products-1_m-@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/tablet/products-1_m-@3x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(1)::after {
    top: -167px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
    background-image: url(../images/desktop/main/products-1l-@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/desktop/main/products-1l-@2x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .products__item:nth-child(1)::after {
    background-image: url(../images/desktop/main/products-1l-@3x.png);
  }
}

.products__item:nth-child(2)::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  background-image: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7)), #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(2)::before {
    left: 12px;
    right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(2)::before {
    top: -150px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
  }
}

.products__item:nth-child(2)::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -111px;
  background-image: url(../images/mobile/main/products-2_s-@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/mobile/main/products-2_s-@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/mobile/main/products-2_s-@3x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(2)::after {
    left: 12px;
    right: 12px;
    background-image: url(../images/tablet/products-2_m-@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/tablet/products-2_m-@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/tablet/products-2_m-@3x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(2)::after {
    top: -167px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
    background-image: url(../images/desktop/main/products-2l-@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/desktop/main/products-2l-@2x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .products__item:nth-child(2)::after {
    background-image: url(../images/desktop/main/products-2l-@3x.png);
  }
}

.products__item:nth-child(3)::before {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -100px;
  background-image: inear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7)), #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  background-repeat: no-repeat;
  border: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(3)::before {
    left: 12px;
    right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(3)::before {
    top: -150px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
  }
}

.products__item:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  top: -111px;
  background-image: url(../images/mobile/main/products-3_s-@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/mobile/main/products-3_s-@2x.png);
  }
}
@media screen and (min-device-pixel-ratio: 3), screen and (-webkit-min-device-pixel-ratio: 3), screen and (min-resolution: 288dpi), screen and (min-resolution: 3dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/mobile/main/products-3_s-@3x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products__item:nth-child(3)::after {
    left: 12px;
    right: 12px;
    background-image: url(../images/tablet/products-3_m-@1x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/tablet/products-3_m-@2x.png);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 3dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/tablet/products-3_m-@3x.png);
  }
}
@media screen and (min-width: 1200px) {
  .products__item:nth-child(3)::after {
    top: -167px;
    left: 33px;
    right: 33px;
    width: 300px;
    height: 300px;
    background-image: url(../images/desktop/main/products-3l-@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/desktop/main/products-3l-@2x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .products__item:nth-child(3)::after {
    background-image: url(../images/desktop/main/products-3l-@3x.png);
  }
}

.products__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .products__subtitle {
    font-size: 22px;
    line-height: 1.2272727273;
  }
}
@media screen and (min-width: 1200px) {
  .products__subtitle {
    font-size: 30px;
    line-height: 1.2333333333;
  }
}

.products__discription {
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;
  margin-bottom: auto;
}
@media screen and (min-width: 1200px) {
  .products__discription {
    font-size: 16px;
  }
}

.product__btn {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product__btn:hover {
  fill: #0a8817;
}

.advantages {
  background-color: #84a178;
  padding-top: 42px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 60px;
    padding-bottom: 180px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 48px;
    padding-bottom: 204px;
  }
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  border-radius: 100%;
  border: none;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .advantages__thumb {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__thumb {
    margin-bottom: 40px;
  }
}

.advantages__img {
  position: absolute;
  top: 7px;
}

.advantages__title {
  margin-bottom: 18px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
}
@media screen and (min-width: 768px) {
  .advantages__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.2291666667;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.224137931;
  }
}

.advantages__desc {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #fcfcfc;
  padding-bottom: 25px;
  margin: 0 auto;
  width: 230px;
}
@media screen and (min-width: 768px) {
  .advantages__desc {
    width: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__desc {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    gap: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages__list {
    gap: 30px;
  }
}

.advantages__item {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 160px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.gallery {
  background-image: url("../images/mobile/main/background2@1x.jpg");
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .gallery {
    background-image: url("../images/mobile/main/background2@2x.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
  .gallery {
    background-image: url("../images/mobile/main/background2@3x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    background-image: url("../images/tablet/background2@1x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: url("../images/tablet/background2@2x.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 3), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 768px) and (min-resolution: 288dpi), screen and (min-width: 768px) and (min-resolution: 3dppx) {
  .gallery {
    background-image: url("../images/tablet/background2@3x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    background-image: url("../images/desktop/backgrounds/background2@1x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: url("../images/desktop/backgrounds/background2@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 3), screen and (min-width: 1200px) and (min-resolution: 288dpi), screen and (min-width: 1200px) and (min-resolution: 3dppx) {
  .gallery {
    background-image: url("../images/desktop/backgrounds/background2@3x.jpg");
  }
}

.gallery__slider {
  width: 100%;
  transform: translateY(-24px);
}
@media screen and (min-width: 768px) {
  .gallery__slider {
    transform: translateY(-164px);
  }
}
@media screen and (min-width: 1200px) {
  .gallery__slider {
    transform: translateY(-94px);
  }
}

.gallery__slide {
  width: 100%;
}

.gallery__slide-container {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 279px;
  height: 131px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .gallery__slide-container {
    width: 704px;
    height: 327px;
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__slide-container {
    width: 1013px;
    height: 422px;
    border-radius: 24px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
}

.customers {
  padding-top: 80px;
  padding-bottom: 48px;
  background-color: #fff;
  background-image: url("../images/mobile/main/background1@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .customers {
    background-image: url("../images/mobile/main/background1@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .customers {
    padding-top: 60px;
    padding-bottom: 80px;
    background-image: url("../images/desktop/backgrounds/background1@1x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 128px;
    padding-bottom: 100px;
    background-image: url("../images/desktop/backgrounds/background1@2x.jpg");
  }
}

.swiper-wrapper list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-reviews__image {
  border-radius: 50%;
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customer-reviews__image {
    margin-bottom: 28px;
  }
}

.swiper-slide customer-reviews__item {
  width: 100%;
  background-color: var(--modalback-and-textcolor-white);
  border-radius: 10px;
  padding: 34px 29px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .swiper-slide customer-reviews__item {
    border-radius: 24px;
    padding: 28px 80px;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-slide customer-reviews__item {
    width: 968px;
    padding: 39px 74px;
  }
}

.customer-reviews__feedback {
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .customer-reviews__feedback {
    font-size: 14px;
    line-height: 1.86;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__feedback {
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__location {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.86;
  text-align: center;
  color: var(--main-text-black);
}
@media screen and (min-width: 768px) {
  .customer-reviews__location {
    font-size: 16px;
  }
}

.footer {
  background-color: #84a178;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 1100px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 366px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 668px;
  }
}

.footer__text {
  text-transform: uppercase;
  text-align: start;
}
@media screen and (max-width: 767px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__item {
  text-transform: uppercase;
  color: #fcfcfc;
}

@media screen and (max-width: 767px) {
  .footer__small {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__small {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__small {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
  }
}

@media screen and (max-width: 767px) {
  .footer__big {
    font-size: 34px;
    line-height: 1.2058823529;
    letter-spacing: 0.04em;
    margin-bottom: 42.01px;
  }
}
@media screen and (min-width: 768px) {
  .footer__big {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__big {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.224137931;
    letter-spacing: 0.06em;
  }
}

.footer-tel {
  font-weight: 700;
  text-align: right;
  line-height: 1.8333333333;
}
@media screen and (max-width: 767px) {
  .footer-tel {
    font-size: 12px;
    margin-bottom: 40.01px;
  }
}
@media screen and (min-width: 768px) {
  .footer-tel {
    margin-bottom: 56px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.footer-tel__text {
  color: #131313;
}

.footer-tel__link {
  color: #fcfcfc;
  margin-left: 2px;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__medialist {
    margin-bottom: 38.01px;
  }
}
@media screen and (min-width: 768px) {
  .footer__medialist {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__medialist {
    margin-bottom: 40px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: #f8d24e;
  border-radius: 50%;
  fill: #84a178;
  cursor: pointer;
}

.footer__link:hover,
.footer__link:focus {
  fill: #fcfcfc;
}

.footer__mediaitem {
  margin-left: 28px;
}

.footer__medialist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__copyright {
  border-top: 1px solid #E1E1E1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7a7a7a;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 16px;
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    padding-top: 12px;
    padding-bottom: 11px;
  }
}

@media screen and (max-width: 767px) {
  .footer__listcopy {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .footer__listcopy {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=index.css.map */