@charset "UTF-8";
/*fonts*/
/*body base fonts*/
/*кнопки*/
/*nav-menu fonts*/
/*hero fonts*/
/*заголовок*/
/*якірні посилання*/
/*кількість кафе і вагончиків*/
/*lorem in hero*/
/*section products*/
/*section about*/
/*section advantages*/
/*section customer reviews*/
/*section contacts*/
/*footer*/
/*modal windows*/
/* Modal Buy now*/
/* Modal ingredients відрізняється від інших модалок*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  line-height: 1.22;
  font-size: 14px;
  letter-spacing: 0.04em;
}

.container {
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.toggle-button {
  position: absolute;
  top: 5px;
  right: 15px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .toggle-button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  z-index: 999;
  overflow: scroll;
}
@media screen and (min-width: 1199px) {
  .menu-container {
    visibility: hidden;
  }
}

.nav-site {
  display: flex;
}
.nav-site__link {
  text-decoration: none;
}

.nav-site_item,
.toggle-menu_item {
  list-style: none;
}

.nav-container {
  display: flex;
}

.footer {
  background-color: #84A178;
}
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 1100px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 366px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 668px;
  }
}

@media screen and (max-width: 767px) {
  .footer__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__text {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.footer__item {
  text-transform: uppercase;
  color: #FCFCFC;
}

@media screen and (max-width: 767px) {
  .footer__small {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2222222222;
    margin-left: 22px;
    margin-right: 66px;
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__small {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2307692308;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__small {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2333333333;
    letter-spacing: 0.04em;
  }
}

@media screen and (max-width: 767px) {
  .footer__big {
    font-size: 34px;
    line-height: 1.2058823529;
    letter-spacing: 0.04em;
    margin-left: 22px;
    margin-right: 100px;
    margin-bottom: 42.01px;
    text-align: start;
  }
}
@media screen and (min-width: 768px) {
  .footer__big {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2291666667;
    letter-spacing: 0.06em;
  }
}
@media screen and (min-width: 1200px) {
  .footer__big {
    font-weight: 700;
    font-size: 58px;
    line-height: 1.224137931;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.footer-tel {
  font-weight: 700;
  text-align: right;
  line-height: 1.8333333333;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  .footer-tel {
    font-size: 12px;
    margin-bottom: 40.01px;
  }
}
@media screen and (min-width: 768px) {
  .footer-tel {
    margin-bottom: 56px;
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tel {
    font-size: 16px;
    margin-bottom: 60px;
  }
}

.footer-tel__text {
  color: #131313;
}

.footer-tel__link {
  color: #FCFCFC;
  margin-left: 2px;
}

@media screen and (max-width: 767px) {
  .footer__medialist {
    margin-bottom: 38.01px;
  }
}
@media screen and (min-width: 768px) {
  .footer__medialist {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__medialist {
    margin-bottom: 40px;
  }
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: #F8D24E;
  border-radius: 50%;
  fill: #84A178;
  cursor: pointer;
}

.footer__link:hover,
.footer__link:focus {
  fill: #FCFCFC;
}

.footer__mediaitem {
  margin-left: 28px;
}

.footer__medialist {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer__copyright {
  border-top: 1px solid #E1E1E1;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #7A7A7A;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    padding-top: 16px;
    padding-bottom: 46px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    padding-top: 14px;
    padding-bottom: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright {
    padding-top: 12px;
    padding-bottom: 11px;
  }
}

@media screen and (max-width: 767px) {
  .footer__listcopy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .footer__listcopy {
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=index.css.map */