/*body base fonts*/

@mixin base-fonts {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    line-height: 1.22;
    font-size: 14px;
    letter-spacing: 0.04em;
}

@mixin section_title-fonts {
    font-family: 'Seymour One';
    font-size: 30px;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 34px;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width:1200px) {
        font-size: 36px;
    }
}

@mixin section_label-fonts {
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 22px;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
    }
}

/*кнопки*/

@mixin btn-fonts {
    font-weight: 600;
}


/*nav-menu fonts*/

@mixin nav-fonts {
    font-weight: 700;
    font-size: 32px;

    @media screen and (min-width:768px) {
        font-size: 48px;
    }

    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}


/*hero fonts*/

/*заголовок*/
@mixin hero_title-fonts {
    font-family: 'Seymour One';
    font-size: 26px;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 18px;
    }

    @media screen and (min-width:1200px) {
        font-size: 38px;
    }
}

/*якірні посилання*/
@mixin anchors_link-fonts {
    font-weight: 600;
    font-size: 8px;

    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}

/*кількість кафе і вагончиків*/

@mixin number_hero-fonts {
    @media screen and (min-width:768px) {
        font-weight: 900;
        font-size: 28px;
        text-transform: uppercase;
    }

    @media screen and (min-width:1200px) {
        font-size: 46px;
    }
}

@mixin cafes_trucks-fonts {
    @media screen and (min-width:768px) {
        font-size: 8px;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}


/*lorem in hero*/
@mixin hero_text-fonts {
    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 1.42;
    }

    @media screen and (min-width:1200px) {
        font-size: 14px;
    }
}


/*section products*/


@mixin products_title-fonts {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 22px;
    }

    @media screen and (min-width:1200px) {
        font-size: 30px;
    }
}

@mixin products_item-fonts {
    line-height: 1.75;

    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}

/*section about*/

@mixin about_text-fonts {
    font-size: 12px;
    line-height: 1.75;

    @media screen and (min-width:1200px) {
        font-size: 16px;
    }

}

/*section advantages*/

@mixin advan_number-fonts {
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-size: 48px;
    }

    @media screen and (min-width:1200px) {
        font-size: 58px;
    }
}

@mixin advan_text-fonts {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.75;
    text-transform: uppercase;

    @media screen and (min-width:768px) {
        font-weight: 400;
        font-size: 14px;
    }

    @media screen and (min-width:1200px) {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

/*section customer reviews*/


@mixin reviews-fonts {
    font-size: 12px;
    line-height: 2.58;

    @media screen and (min-width:768px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width:1200px) {
        font-size: 16px;
    }
}

@mixin customer-fonts {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.86;

    @media screen and (min-width:768px) {
        font-size: 16px;
    }
}

/*section contacts*/


@mixin contacts_title-fonts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width:768px) {
        font-size: 16px;
    }

}

@mixin contacts_item-fonts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width:768px) {
        font-size: 14px;
    }

    @media screen and (min-width:768px) {
        font-size: 16px;
    }
}

@mixin contacts_link-fonts {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;

    @media screen and (min-width:768px) {
        font-size: 14px;
        line-height: 1.86;
    }

    @media screen and (min-width:768px) {
        font-size: 16px;
    }
}

/*footer*/

@mixin footer_title-fonts {
    font-weight: 700;
    font-size: 34px;

    @media screen and (min-width:768px) {
        font-size: 48px;
        letter-spacing: 0.06em;
    }

    @media screen and (min-width:768px) {
        font-size: 58px;
    }
}

@mixin footer_label-fonts {
    font-weight: 700;
    font-size: 18px;

    @media screen and (min-width:768px) {
        font-size: 26px;
    }

    @media screen and (min-width:768px) {
        font-size: 30px;
    }
}

@mixin footer_contacts-fonts {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;

    @media screen and (min-width:768px) {
        font-size: 14px;
    }

    @media screen and (min-width:768px) {
        font-size: 16px;
        letter-spacing: 0.02em;
    }
}

@mixin footer_end-fonts {
    font-weight: 700;
    line-height: 1.5;

    @media screen and (min-width:768px) {
        line-height: 1.86;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width:768px) {
        font-size: 12px;
    }
}

/*modal windows*/

@mixin btn_modal-fonts {
    font-weight: 600;
    font-size: 12px;

    @media screen and (min-width:768px) {
        font-size: 14px;
    }
}

@mixin modal_title-fonts {
    font-family: 'Seymour One';
    font-size: 16px;
    line-height: 1.4;

    @media screen and (min-width:768px) {
        font-size: 20px;
    }
}

@mixin modal_form-fonts {
    font-size: 12px;
    line-height: 1.4;

    @media screen and (min-width:768px) {
        font-size: 14px;
    }
}

@mixin modal_text-fonts {
    line-height: 1.4;

    @media screen and (min-width:768px) {
        font-size: 16px;
    }
}

/* Modal Buy now*/

@mixin bnproduct_title-fonts {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}


/* Modal ingredients відрізняється від інших модалок*/


@mixin modaling_title-fonts {
    font-family: 'Seymour One';
    font-size: 20px;
    line-height: 1.4;
}

@mixin organic_weight-fonts {
    font-weight: 500;
    font-size: 10px;
    line-height: 2.8;

    @media screen and (min-width:768px) {
        font-size: 12px;
        line-height: 2.3;
    }
}

@mixin organic_title-fonts {
    font-size: 10px;

    @media screen and (min-width:768px) {
        font-size: 12px;
    }
}


@mixin modaling_titleing-fonts {
    font-size: 20px;
    line-height: 1.4;
}

@mixin ingredient_item-fonts {
    font-size: 14px;
    line-height: 1.75;
}

@mixin modaling_form-fonts {
    font-size: 14px;
    line-height: 1.4;
}

@mixin btn_modaling-fonts {
    font-weight: 600;
    font-size: 14px;
}