<section class="advantages">
  <div class="container advantages__container">
    <h1 hidden>Advantages</h1>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__thumb">
          <img
            class="advantages__img"
            srcset="
              ./images/icon_png/cow@1x.png 1x,
              ./images/icon_png/cow@2x.png 2x,
              ./images/icon_png/cow@3x.png 3x
            "
            src="./images/icon_png/cow@1x.png"
            alt="cow icon"
            width="36"
            height="36"
          />
        </div>
        <h2 class="advantages__title">721</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb">
          <img
            class="advantages__img"
            srcset="
              ./images/icon_png/weight@1x.png 1x,
              ./images/icon_png/weight@2x.png 2x,
              ./images/icon_png/weight@3x.png 3x
            "
            src="./images/icon_png/weight@1x.png"
            alt="weight icon"
            width="36"
            height="36"
          />
        </div>
        <h2 class="advantages__title">16kg</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb">
          <img
            class="advantages__img"
            srcset="
              ./images/icon_png/icecream@1x.png 1x,
              ./images/icon_png/icecream@2x.png 2x,
              ./images/icon_png/icecream@3x.png 3x
            "
            src="./images/icon_png/icecream@1x.png"
            alt="ice-cream icon"
            width="36"
            height="36"
          />
        </div>
        <h2 class="advantages__title">84</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
