<section class="advantages">
  <div class="container advantages__container">
    <h1 hidden>Advantages</h1>
    <ul class="advantages__list list">
      <li class="advantages__item">
        <div class="advantages__thumb"></div>
        <h2 class="advantages__title">721</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb"></div>
        <h2 class="advantages__title">16kg</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages__item">
        <div class="advantages__thumb"></div>
        <h2 class="advantages__title">84</h2>
        <p class="advantages__desc">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
