<section class="contact" id="contacts">
  <div class="container">
    <h2 class="visually-hidden">Contact center</h2>
    <ul class="contact_item">
      <li class="contacts__list">
        <div class="tabel">CAFE</div>
        <div class="tabel_list">
          <p class="tabel_title">Chicago</p>
          <a
            href="https://www.google.com/maps/place/10340+Ridgeland+Ave,+Chicago+Ridge,+IL+60415,+%D0%A1%D0%A8%D0%90/@41.7034016,-87.7819292,17z/data=!3m1!4b1!4m5!3m4!1s0x880e39ad302b2c19:0xc808e9b14d04eb2b!8m2!3d41.7034016!4d-87.7797405"
            class="tabel_text link"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </div>
        <div class="tabel_list">
          <span class="tabel_title"> Monday - Friday </span>
          <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
          <span class="tabel_title--day"> Saturday - Sunday </span>
          <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tabel_list">
          <a class="tabel_address link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="tabel_address link" href="email:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__list">
        <div class="tabel tabel--green">FOODTRUCK</div>
        <div class="tabel_list">
          <p class="tabel_title">Los Angeles</p>
          <a
            href="https://www.google.com/maps?q=1003+Manhattan+Ave,+Manhattan+Beach,+CA+90263,+USA&rlz=1C1CHBD_ruUA915UA915&um=1&ie=UTF-8&sa=X&ved=2ahUKEwiQleH1hN_6AhWy_rsIHfwyAS0Q_AUoAXoECAMQAw"
            class="tabel_text link"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </div>
        <div class="tabel_list">
          <span class="tabel_title"> Monday - Friday </span>
          <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
          <span class="tabel_title--day"> Saturday - Sunday </span>
          <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tabel_list">
          <a class="tabel_address link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="tabel_address link" href="email:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>

      <li class="contacts__list">
        <div class="tabel">CAFE</div>

        <div class="tabel_list">
          <p class="tabel_title tabel_title--city">New York</p>
          <a
            href="https://www.google.com/maps?q=726+Sterling+Pl,+Brooklyn,+NY+11222,+USA&rlz=1C1CHBD_ruUA915UA915&um=1&ie=UTF-8&sa=X&ved=2ahUKEwi1u66Thd_6AhVniP0HHXYxCg8Q_AUoAXoECAEQAw"
            class="tabel_text link"
            target="_blank"
            rel="noopener nofollow noreferrer"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </div>
        <div class="tabel_list">
          <span class="tabel_title"> Monday - Friday </span>
          <p class="tabel_text--time">06:00 AM - 10:00 PM</p>
          <span class="tabel_title--day"> Saturday - Sunday </span>
          <p class="tabel_text--time">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tabel_list">
          <a class="tabel_address link" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="tabel_address link" href="email:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="drawing">
      <button class="drawing_btn drawing_btn--left" type="button">
        Our Locations
        <svg class="contacts__icon" width="12px" height="12px">
          <use href="./images/sprite.svg#button-arrow"></use>
        </svg>
      </button>
      <button class="drawing_btn drawing_btn--right" type="button">
        Franchise
        <svg class="contacts__icon" width="12px" height="12px">
          <use href="./images/sprite.svg#button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
