<section class="customer">
  <h2 class="visually-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper-container">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide customer-reviews__item">
          <img
            class="customer-reviews__image"
            src="/src/images/desktop/reviews/reviews3@1x.jpg"
            srcset="
              /src/images/desktop/reviews/reviews3@1x.jpg 1x,
              /src/images/desktop/reviews/reviews3@2x.jpg 2x,
              /src/images/desktop/reviews/reviews3@3x.jpg 3x
            "
            alt="Photo of customer"
          />
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </div>
          <p class="customer-reviews__location">Sam, Los Angeles</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <img
            class="customer-reviews__image"
            src="/src/images/desktop/reviews/reviews4@1x.jpg"
            srcset="
              /src/images/desktop/reviews/reviews4@1x.jpg 1x,
              /src/images/desktop/reviews/reviews4@2x.jpg 2x,
              /src/images/desktop/reviews/reviews4@3x.jpg 3x
            "
            alt="Photo of customer"
          />
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <img
            class="customer-reviews__image"
            src="/src/images/desktop/reviews/reviews2@1x.jpg"
            srcset="
              /src/images/desktop/reviews/reviews2@1x.jpg 1x,
              /src/images/desktop/reviews/reviews2@2x.jpg 2x,
              /src/images/desktop/reviews/reviews2@3x.jpg 3x
            "
            alt="Photo of customer"
          />
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="customer-reviews__location">Diana, Chicago</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <img
            class="customer-reviews__image"
            src="/src/images/desktop/reviews/reviews1@1x.jpg"
            srcset="
              /src/images/desktop/reviews/reviews1@1x.jpg 1x,
              /src/images/desktop/reviews/reviews1@2x.jpg 2x,
              /src/images/desktop/reviews/reviews1@3x.jpg 3x
            "
            alt="Photo of customer"
          />
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="customer-reviews__location">Bryan, New-York</p>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
