<section class="customer">
  <h2 class="is-hidden">Customer reviews</h2>
  <div class="container">
    <div class="swiper-container">
      <ul class="swiper-wrapper list">
        <li class="swiper-slide customer-reviews__item">
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              I love eating popsicles on a hot day. Yours is always delicious. I
              recommend your cafe to everyone I know.
            </p>
          </div>
          <p class="customer-reviews__location">Sam, Los Angeles</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <p class="customer-reviews__location">Emily, Los Angeles</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <p class="customer-reviews__location">Diana, Chicago</p>
        </li>
        <li class="swiper-slide customer-reviews__item">
          <div class="customer-reviews__wrapper">
            <p class="customer-reviews__feedback">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <p class="customer-reviews__location">Bryan, New-York</p>
        </li>
      </ul>

      <div class="swiper-pagination"></div>

      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
