<footer class="footer">
    <h2 class="Footer__title visually-hidden">Footer</h2>
      <div class="footer__text">
      <ul class="footer__list list">
        <li class="footer__item"> <p class="footer__small">homemade ice cream made</p> </li>
        <li class="footer__item"> <p class="footer__big">with passion</p></li>
      </ul>       
        
        <div class="footer__about">
          <div class="footer__media">
        <ul class="footer__medialist list">              
              <li class="footer__mediaitem">                
                  <a href="#" target="_blank" class="footer__link link"> 
                  <svg  width="20" height="20">
                <use href="#" ></use>
                </svg></a>
                             
                               
              </li>
              <li class="footer__mediaitem">
              <a href="#" target="_blank" class="footer__link link" >
                <svg  width="20" height="20">
                <use href="#" ></use>
                </svg>
              </a>
                             
                               
              </li>
              <li class="footer__mediaitem">                
                  <a href="#" target="_blank" class="footer__link link" >
                <svg  width="20" height="20">
                <use href="#" ></use>
                </svg> 
              </a>
            </li>
               </ul>                 
          </div>
          <div class="footer-tel">          
        <p class="footer-tel__text" >Feel free to contact<a href="tel:+61(0)383766284" class="footer-tel__link link">+61 (0) 383 766 284</a></p>         
        </div> 
          
        </div>
          
        </div>
        <div class="footer__copyright">
            <p class="footer__copy">&#169; 2022 - IceCream.
            All Rights Reserved. </p>
          </div>
    </footer>