<section class="gallery section" id="gallery">
    <div class="container">
      <h2 class="gallery__title visually-hidden">Галерея</h2>
      <ul class="gallery__slider list gallery-slider">
        <li class="gallery__slide">
        <div class="gallery__slide-container">
          <img
            class="gallery__img"
            srcset="
                  ./images/mobile/main/main_icecream@1x.jpg 279w,
                  ./images/mobile/main/main_icecream@2x.jpg 558w,
                  ./images/mobile/main/main_icecream@3x.jpg 837w,
                  ./images/tablet/main_icecream@1x.jpg 704w,
                  ./images/tablet/main_icecream@1x.jpg 1408w,
                  ./images/tablet/main_icecream@1x.jpg 2112w,
                  ./images/desktop/main/main_icecream@1x.jpg 1013w,
                  ./images/desktop/main/main_icecream@2x.jpg 2026w,
                  ./images/desktop/main/main_icecream@3x.jpg 3039w
              "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
            src="./images/tablet/main_icecream@1x.jpg"
            alt="Icecream with blueberry"
          >
        </div>
        </li>
        <li class="gallery__slide">
        <div class="gallery__slide-container">
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/reviews_icecream/reviews_icecream1@1x.jpg 197w,
              ./images/mobile/reviews_icecream/reviews_icecream1@2x.jpg 394w,
              ./images/mobile/reviews_icecream/reviews_icecream1@3x.jpg 591w,
              ./images/tablet/reviews_icecream/reviews_icecream1@1x.jpg 490w,
              ./images/tablet/reviews_icecream/reviews_icecream1@2x.jpg 979w,
              ./images/tablet/reviews_icecream/reviews_icecream1@3x.jpg 1469w,
              ./images/desktop/reviews_icecream/reviews_icecream1@1x.jpg 636w,
              ./images/desktop/reviews_icecream/reviews_icecream1@2x.jpg 1272w,
              ./images/desktop/reviews_icecream/reviews_icecream1@3x.jpg 1908w
            "
            sizes="(min-width: 1200px) 636px, (min-width: 768px) 490px, (min-width: 480px) 197px, 100vw"
            src="./images/tablet/reviews_icecream/reviews_icecream1@1x.jpg"
            alt="Icecream with strawberry"
          >
        </div>
        </li>
        <li class="gallery__slide">
        <div class="gallery__slide-container">
          <img
            class="gallery__img"
            srcset="
              ./images/mobile/reviews_icecream/reviews_icecream2@1x.jpg 222w,
              ./images/mobile/reviews_icecream/reviews_icecream2@2x.jpg 444w,
              ./images/mobile/reviews_icecream/reviews_icecream2@3x.jpg 666w,
              ./images/tablet/reviews_icecream/reviews_icecream2@1x.jpg 551w,
              ./images/tablet/reviews_icecream/reviews_icecream2@2x.jpg 1103w,
              ./images/tablet/reviews_icecream/reviews_icecream2@3x.jpg 1654w,
              ./images/desktop/reviews_icecream/reviews_icecream2@1x.jpg 716w,
              ./images/desktop/reviews_icecream/reviews_icecream2@2x.jpg 1432w,
              ./images/desktop/reviews_icecream/reviews_icecream2@3x.jpg 2148w
            "
            sizes="(min-width: 1200px) 716px, (min-width: 768px) 551px, (min-width: 480px) 222px, 100vw"
            src="./images/tablet/reviews_icecream/reviews_icecream2@1x.jpg"
            alt="Icecream with strawberry"
          >
        </div>
        </li>
      </ul>
  </section>
  