<section class="gallery section">
    <div class="container">
      <h2 class="gallery__title visually-hidden">Галерея</h2>
      <ul class="gallery__slider">
        <li class="gallery__slide">
          <img
            class="gallery__img"
            srcset="
                  ./images/mobile/main/main_icecream@1x.jpg 279w,
                  ./images/mobile/main/main_icecream@2x.jpg 558w,
                  ./images/mobile/main/main_icecream@3x.jpg 837w,
                  ./images/tablet/main_icecream@1x.jpg 704w,
                  ./images/tablet/main_icecream@1x.jpg 1408w,
                  ./images/tablet/main_icecream@1x.jpg 2112w,
                  ./images/desktop/main/main_icecream@1x.jpg 1013w,
                  ./images/desktop/main/main_icecream@2x.jpg 2026w,
                  ./images/desktop/main/main_icecream@3x.jpg 3039w
              "
            sizes="(min-width: 1200px) 1013px, (min-width: 768px) 704px, (min-width: 480px) 279px, 100vw"
            src="./images/tablet/main_icecream@1x.jpg"
            alt="Icecream with blueberry"
          >
        </li>
        <li class="gallery__slide">
          <img
            class="gallery__img"
            srcset="
              ./images/desktop/reviews_icecream/reviews_icecream1@1x.jpg 1013w,
              ./images/desktop/reviews_icecream/reviews_icecream1@2x.jpg 2026w,
              ./images/desktop/reviews_icecream/reviews_icecream1@3x.jpg 3039w
            "
            sizes="1013px"
            src="./images/desktop/reviews_icecream/reviews_icecream1@1x.jpg"
            alt="Icecream with strawberry"
          >
        </li>
        <li class="gallery__slide">
          <img
            class="gallery__img"
            srcset="
              ./images/desktop/reviews_icecream/reviews_icecream2@1x.jpg 1013w,
              ./images/desktop/reviews_icecream/reviews_icecream2@2x.jpg 2026w,
              ./images/desktop/reviews_icecream/reviews_icecream2@3x.jpg 3039w
            "
            sizes="1013px"
            src="./images/desktop/reviews_icecream/reviews_icecream2@1x.jpg"
            alt="Icecream with strawberry"
          >
        </li>
      </ul>
  </section>
  