<header class="header">
    <div class="container nav-container">
        <div class="nav-position">
        <a href="./index.html" class="logo">
            <picture>
                <source
                  srcset="
                  ./images/logo_png/logo-mob@1x.png    1x,
                  ./images/logo_png/logo-mob@2x.png    2x,
                  ./images/logo_png/logo-mob@3x.png    3x
                  "
                  media="(max-width: 767px)"
                />

                <source
                srcset="
                ./images/logo_png/logo@1x.png    1x,
                ./images/logo_png/logo@2x.png    2x,
                ./images/logo_png/logo@3x.png    3x
                "
                media="(min-width: 1200px)"
                />

                <source
                srcset="
                ./images/logo_png/logo-tab@1x.png    1x,
                ./images/logo_png/logo-tab@2x.png    2x,
                ./images/logo_png/logo-tab@3x.png    3x
                "
                media="(min-width: 768px)"
                />

                <img
                  src="./images/logo_png/logo@1x.png"
                  alt="ice-cream logo"
                />
		     </picture>
        </a>
        </div>

        <button
            type="button"
            class="toggle-button js-open-menu"
            aria-expanded="false"
            aria-controls="toggle-menu"
        >
            <svg width="32" height="32" aria-label="toggle menu">
                <use
                    class="icon-menu"
                    href="./images/sprite.svg#burger"
                ></use>
            </svg>
        </button>
  
        <div class="menu">
            <nav>
                <ul class="nav-site">
                    <li class="nav-site_item">
                        <a href="#hero" class="nav-site__link link">Home</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#" class="nav-site__link link">How it’s made?</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#products" class="nav-site__link link">Our products</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#contacts" class="nav-site__link link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="nav-position">
        <button type="button" class="button header-button">Buy now</button>
        </div>

        <div class="menu-container js-menu-container" id="toggle-menu">
            <button type="button" class="toggle-button js-close-menu">
                <svg width="32" height="32" aria-label="toggle menu">
                    <use
                    class="icon-menu"
                    href="./images/sprite.svg#close_white"
                    ></use>
                </svg>
            </button>

            <ul class="toggle-menu ">
                <li class="toggle-menu_item">
                    <a href="./index.html" class="toggle-menu__link">Home</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">How it’s made?</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">Our products</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>