<header class="header">
    <div class="container nav-container">
        <a href="./index.html" class="logo">
            <img src="#" alt="ice-cream">
        </a>

        <button
            type="button"
            class="toggle-button js-open-menu"
            aria-expanded="false"
            aria-controls="toggle-menu"
        >
            <svg width="32" height="32" aria-label="toggle menu">
                <use
                    class="icon-menu"
                    href="#"
                ></use>
            </svg>
        </button>
  
        <div class="menu">
            <nav>
                <ul class="nav-site">
                    <li class="nav-site_item">
                        <a href="#" class="nav-site__link">Home</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#" class="nav-site__link">How it’s made?</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#" class="nav-site__link">Our products</a>
                    </li>
                    <li class="nav-site_item">
                        <a href="#" class="nav-site__link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>

        <button type="button" class="button">Buy now</button>

        <div class="menu-container js-menu-container" id="toggle-menu">
            <button type="button" class="toggle-button js-close-menu">
                <svg width="32" height="32" aria-label="toggle menu">
                    <use
                    class="icon-menu"
                    href="#"
                    ></use>
                </svg>
            </button>

            <ul class="toggle-menu ">
                <li class="toggle-menu_item">
                    <a href="./index.html" class="toggle-menu__link">Home</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">How it’s made?</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">Our products</a>
                </li>
                <li class="toggle-menu_item">
                    <a href="#" class="toggle-menu__link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</header>