<section class="hero" id="hero">
  <div class="hero__container container">
    <h1 class="hero__title">ice cream made with passion</h1>
    <ul class="anchors list">
      <li class="anchors__item">
        <a class="anchors__products" href="#products">Products</a>
      </li>
      <li class="anchors__item">
        <a class="anchors__about" href="#about">How it’s made?</a>
      </li>
      <div class="block-gallery">
        <p class="block-gallery__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
        <a class="block-gallery__link" href="#gallery">
          <svg class="block-gallery__icon" width="40" height="17">
            <use href="./images/sprite.svg#icon-arrow-defoult"></use></svg
        ></a>
      </div>
    </ul>
    <ul class="institutions list">
      <li class="institutions__item">
        <p class="institutions__amount">16</p>
        <p class="institutions__title">cafes</p>
      </li>
      <li class="institutions__item">
        <p class="institutions__amount">23</p>
        <p class="institutions__title">food trucks</p>
      </li>
    </ul>
  </div>
</section>
