<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="close-modal" data-modal-close>
            <svg class="close-modal-svg" width="20px" height="20px">
            <use href="#"></use>
            </svg>
        </button>

        <form class="form-header">
            <b class="form__name"
            >Buy now</b
        >

	<div role="group">

    <label class="kind">
		<input type="checkbox" class="kind-icecream">
    <span class="checkbox--green"></span>
      <span class="checkbox-text">ice cream</span>
    </label>

    <label class="kind">
		<input type="checkbox" class="kind-icecream">
    <span class="checkbox--yellow"></span>
    <span class="checkbox-text">ice coffee</span>
    </label>

		<label class="kind">
    <input type="checkbox" class="kind-icecream">
    <span class="checkbox--orange"></span>
    <span class="checkbox-text">milkshake</span>
    </label>
	</div>

    <div class="form-header">
        <label class="form-header__field">
            <input type="text" name="name" placeholder="Name" class="form-header__input" />
        </label>

        <label class="form-header__field">
            <input type="tel" name="tel" placeholder="Phone" class="form-header__input" />
        </label>

        <label class="form-header__field"
        >Comments
        <textarea
          name="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
          class="form-header__comment"
        ></textarea>
      </label>
    </div>

    <div class="header-submit">
      <button type="submit" class="button-form button">Submit</button>
    </div>
    </form>
  </div>
</div>
