<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="close-modal" data-modal-close>
            <svg class="close-modal-svg" width="20px" height="20px">
            <use href="#"></use>
            </svg>
        </button>

        <form class="form-header">
            <b class="form__name"
            >Buy now</b
        >

	<div role="group">
		<input type="checkbox" name="kind" value="ice-cream" id="ice-cream" class="kind_icecream">
		<label for="ice-cream">ice cream</label>

		<input type="checkbox" name="kind" value="ice-coffee" id="ice-coffee">
		<label for="ice-cream">ice coffee</label>

		<input type="checkbox" name="kind" value="milkshake" id="milkshake">
		<label for="ice-cream">milkshake</label>
	</div>

    <div class="form-header">
        <label class="form-header__field">
            <input type="text" name="name" placeholder="Name" class="form-header__input" />
        </label>

        <label class="form-header__field">
            <input type="tel" name="tel" placeholder="Phone" class="form-header__input" />
        </label>

        <label class="form-header__field"
        >Comments
        <textarea
          name="comment"
          cols="30"
          rows="10"
          placeholder="Comment"
          class="form-header__comment"
        ></textarea>
      </label>
    </div>

    <div class="header-submit">
      <button type="submit" class="button-form button">Submit</button>
    </div>
    </form>
  </div>
</div>
