<section class="products-section" id="products">
  <div class="products conteiner">
    <p class="products__undertitle">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products__list">
      <!-- Ice cream cards -->
      <li class="products__item">
        <h3 class="products__subtitle">Ice cream</h3>
        <p class="products__discription">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button class="product__btn js-open-modal" data-modal="products" type="button">
          <svg width="40" height="17">
            <use href="./images/sprite.svg#icon-arrow-defoult"></use>
          </svg>
        </button>
      </li>

      <!-- Ice coffee cards -->
      <li class="products__item">
        <h3 class="products__subtitle">Ice coffee</h3>
        <p class="products__discription">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button class="product__btn js-open-modal" data-modal="products" type="button">
          <svg width="40" height="17">
            <use href="./images/sprite.svg#icon-arrow-defoult"></use>
          </svg>
        </button>
      </li>

      <!-- Milkshakes cards -->
      <li class="products__item">
        <h3 class="products__subtitle">Milkshakes</h3>
        <p class="products__discription">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button class="product__btn js-open-modal" data-modal="products" type="button">
          <svg width="40" height="17">
            <use href="./images/sprite.svg#icon-arrow-defoult"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>