.advantages {
  background-color: getColor('main-background-color');
  padding-top: 42px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 180px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 204px;
  }
}

.advantages__thumb {
  display: flex;
  justify-content: center;
  // position: relative;

  margin: 0 auto;
  width: 50px;
  height: 50px;

  background-color: getColor('main-yellow');
  border-radius: 100%;
  border: none;

  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 40px;
  }
}

// .advantages__img {
//   position: absolute;
//   top: 7px;
// }

.advantages__title {
  margin-bottom: 18px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  color: getColor('modalback-and-textcolor-white');

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;

    font-size: 48px;
    line-height: calc(59 / 48);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 16px;

    font-size: 48px;
    line-height: calc(71 / 58);
  }
}

.advantages__desc {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: getColor('modalback-and-textcolor-white');
  padding-bottom: 25px;

  margin: 0 auto;
  width: 230px;

  @media screen and (min-width: 768px) {
    width: 150px;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;
  }
}

.advantages__list {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  position: relative;

  @media screen and (min-width: 768px) {
    gap: 80px;
  }

  @media screen and (min-width: 1200px) {
    gap: 30px;
  }
}

.advantages__item {
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 80px * 2) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
}

.advantages__item:nth-child(1)::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-size: contain;
  border: none;

  top: 7px;
  left: 97px;

  background-image: url('../images/icon_png/cow@1x.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/icon_png/cow@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/icon_png/cow@3x.png');
  }

  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 72.5px;
    top: 7px;

    background-image: url('../images/icon_png/cow@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/cow@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/cow@3x.png');
    }
  }

  // Desktop

  @media screen and (min-width: 1200px) {
    top: 7px;
    left: 166;

    background-image: url('../images/icon_png/cow@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/cow@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/cow@3x.png');
    }
  }
}

.advantages__item:nth-child(2)::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-size: contain;
  border: none;

  top: 7px;
  left: 96.5px;

  background-image: url('../images/icon_png/weight@1x.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/icon_png/weight@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/icon_png/weight@3x.png');
  }

  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 72px;
    top: 7px;

    background-image: url('../images/icon_png/weight@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/weight@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/weight@3x.png');
    }
  }

  // Desktop

  @media screen and (min-width: 1200px) {
    top: 7px;
    left: 166;

    background-image: url('../images/icon_png/weight@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/weight@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/weight@3x.png');
    }
  }
}

.advantages__item:nth-child(3)::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 36px;
  height: 36px;
  background-size: contain;
  border: none;

  top: 7px;
  left: 97.5px;

  background-image: url('../images/icon_png/icecream@1x.png');

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url('../images/icon_png/icecream@2x.png');
  }

  @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
    background-image: url('../images/icon_png/icecream@3x.png');
  }

  // Tablet
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    left: 73px;
    top: 7px;

    background-image: url('../images/icon_png/icecream@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/icecream@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/icecream@3x.png');
    }
  }

  // Desktop

  @media screen and (min-width: 1200px) {
    top: 7px;
    left: 167;

    background-image: url('../images/icon_png/icecream@1x.png');

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/icon_png/icecream@2x.png');
    }
    @media screen and (min-device-pixel-ratio: 3),
      screen and (min-resolution: 288dpi),
      screen and (min-resolution: 3dppx) {
      background-image: url('../images/icon_png/icecream@3x.png');
    }
  }
}
