.customer {
    padding-top: 51px;
    padding-bottom: 393px;

    background-image: url('../images/mobile/main/background2@1x.jpg');
    background-position: 0 -131px;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/mobile/main/background2@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('../images/mobile/main/background2@3x.jpg');
    }

    @media screen and (min-width: 768px) {
        padding-top: 0;
        padding-bottom: 384px;

        background-image: url('../images/tablet/background2@1x.jpg');
        background-position: 0 -327px;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/tablet/background2@2x.jpg');
        }
        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/tablet/background2@3x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        padding-top: 51px;
        padding-bottom: 196px;

        background-image: url('../images/desktop/backgrounds/background2@1x.jpg');
        background-position: 0 -422px;
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/desktop/backgrounds/background2@2x.jpg');
        }
        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/desktop/backgrounds/background2@3x.jpg');
        }
    }
}

.customer-reviews__image {
    border-radius: 50%;
    // margin-bottom: 32px;
    margin: 0 auto 32px auto;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin: 0 auto 28px auto;
    }
}

// .customer-reviews__item {
//     width: 100%;
//     background-color: var(--modalback-and-textcolor-white);
//     border-radius: 10px;
//     padding: 34px 29px;
//     margin-bottom: 30px;


//     @media screen and (min-width: 768px) {
//         border-radius: 24px;
//         padding: 28px 80px;
//         margin-bottom: 32px;
//     }

//     @media screen and (min-width: 1200px) {
//         width: 968px;
//         padding: 39px 74px;
//     }
// }

.customer-reviews__feedback {
    @include reviews-fonts;
    text-align: center;
    color: getColor('modalback-and-textcolor-white')
    
}

.customer-reviews__wrapper {
    background-color: getColor('main-background-color');
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 34px;
    padding-right: 39px;
    padding-left: 39px;
    align-items: center;
    width: 280px;
    height: 256px;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        margin: 0 auto;
        padding-top: 29px;
        padding-bottom: 28px;
        padding-right: 80px;
        padding-left: 80px;
        align-items: center;
        width: 705px;
        height: 138px;
        border-radius: 24px;
        }
    
    @media screen and (min-width: 1200px) {
            margin: 0 auto;
            padding-top: 39px;
            padding-bottom: 39px;
            padding-right: 74px;
            padding-left: 73px;
            align-items: center;
            width: 968px;
            height: 138px;
            border-radius: 24px;
        }
    
    
}


// font-size: 12px;
// line-height: 2.55;
// text-align: center;

// @media screen and (min-width: 768px) {
//     font-size: 14px;
//     line-height: 1.86;
// }

// @media screen and (min-width: 1200px) {
//     font-size: 16px;
//     line-height: 1.86;
// }




.customer-reviews__location {
    @include customer-fonts;
    text-align: center;
    // font-weight: 500;
    // font-size: 20px;
    // line-height: 1.86;
    // text-align: center;
    // color: var(--main-text-black);

    // @media screen and (min-width: 768px) {
    //     font-size: 16px;
    // }

}

// .customer__image {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;

// }

#slick-slide-control10::before,
#slick-slide-control11::before,
#slick-slide-control12::before,
#slick-slide-control13::before {
    font-size: 12px;
    color: #84A178;
}