.gallery {
    background-image: url('../images/mobile/main/background2@1x.jpg');

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url('../images/mobile/main/background2@2x.jpg');
    }
    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url('../images/mobile/main/background2@3x.jpg');
    }

    @media screen and (min-width: 768px) {
        background-image: url('../images/tablet/background2@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/tablet/background2@2x.jpg');
        }
        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/tablet/background2@3x.jpg');
        }
    }

    @media screen and (min-width: 1200px) {
        background-image: url('../images/desktop/backgrounds/background2@1x.jpg');

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url('../images/desktop/backgrounds/background2@2x.jpg');
        }
        @media (min-device-pixel-ratio: 3),
        (-webkit-min-device-pixel-ratio: 3),
        (min-resolution: 288dpi),
        (min-resolution: 3dppx) {
            background-image: url('../images/desktop/backgrounds/background2@3x.jpg');
        }
    }
}

// .gallery__slider {
//     margin-left: auto;
//     margin-right: auto;

//     // list-style-type: none;
//     // text-indent: 0;
//     // margin: 0;
//     // padding: 0;

//     // list-style: none;
// }

// .gallery__slide {

// }