.header {
  background-color: getColor('main-background-color');
  position: sticky;
  top: 0;
  z-index: 3;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;

  position: relative;

  @media screen and (min-width: 768px) {
    height: 70px;
    padding-bottom: 10px;
  }
}

// .nav__button {
//   @media screen and (min-width:1199px) {
//     display: none;
//   }

//   @media screen and (min-width:767px) and (max-width:1199px) {
//     margin-left: auto;
//     margin-right: 38px;
//   }

//   margin-left: auto;
// }
.close-modal__btn {
  position: absolute;
  top: 16px;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  @media screen and (min-width:768px) {
    top: 32px;
    right: 32px;
  }

  @media screen and (min-width:1200px) {
    display: none;
  }
}

.nav-site {
  display: flex;
  gap: 27px;

  &__link {
    padding-top: 14px;
    padding-bottom: 14px;

    color: getColor('modalback-and-textcolor-white');

    @include nav-fonts;
    transition: color 250ms($cubic-bezier);

    &:hover,
    &:focus {
      color: getColor('main-yellow');
    }
  }
}

.nav__button {
  padding-top: 16px;
  margin-left: auto;

  border: none;
  background-color: transparent;
  cursor: pointer;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    margin-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

// .toggle-button--close {
//   right: 20px;

//   @media screen and (min-width: 768px) {
//     top: 30px;
//     right: 32px;
//   }
// }

.header-button {
  @include button();
  @include base-fonts;

  width: 152px;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu {
  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 100px;
  padding-bottom: 63px;
  background-color: getColor('main-background-color');
<<<<<<< HEAD
    
=======

>>>>>>> main
  transform: translateX(100%);
  transition: transform 250ms($cubic-bezier);

  z-index: 999;
  overflow: scroll;

  @media screen and (min-width:1199px) {
    visibility: hidden;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.nav-site_item,
.toggle-menu_item {
  list-style: none;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__link {
    color: getColor('modalback-and-textcolor-white');

    @include nav-fonts;
    transition: color 250ms($cubic-bezier);

    &:hover,
    &:focus {
      color: getColor('main-text-black');
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.toggle-menu-button {
  @include button();
  @include base-fonts;

  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 152px;
}