.header {
  background-color: getColor('main-background-color');
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 50px;
  // padding-bottom: 8px;

  position: relative;

  @media screen and (min-width: 768px){
    height: 66px;
  }  
}

.nav-site {
  display: flex;
  gap: 27px;
  
  &__link {
  padding-top: 14px;
  padding-bottom: 14px;
    
  color: getColor('modalback-and-textcolor-white');

  @include nav-fonts;
  transition: color 250ms($cubic-bezier);

  &:hover,
  &:focus {
    color: getColor('main-yellow');
  }
  }
}

.toggle-button {
    position: absolute;
    top: 16px;
    right: 15px;
  
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    overflow:hidden;

    @media screen and (min-width: 768px){
      top: 30px;
      right: 208px;
    }
  
    @media screen and (min-width: 1200px) {
      display: none;
  }
}

.header-button {
  @include button();
  @include base-fonts;

  width: 152px;
  margin-right: auto;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
  
.menu {
  // @include nav-fonts;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}
  
.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
    
  transform: translateX(100%);
  
  z-index: 999;
  overflow: scroll;
  
  @media screen and (min-width:1199px){
    visibility: hidden;
  }
}


.nav-site_item,
.toggle-menu_item {
    list-style: none;
}
  
