.hero {
    background-color: getColor('main-background-color');

    &__container {
        height: 392px;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/mobile/main/icecreamhero-mobile@2x.webp),url(../images/mobile/main/pointshero-mobile@2x.webp);
        background-position: top 64px left 64px, left 0px bottom 0px;

        @media screen and (min-width: 768px) {
                height: 343px;
            }
        
            @media screen and (min-width: 1200px) {
                height: 384px;
            }
                        
    }

    

    &__title {
        display: block;
        width: 247px;
        margin-bottom: 32px;
        color: getColor('modalback-and-textcolor-white');
        @include hero_title-fonts;

        @media screen and (min-width: 768px) {
                width: 181px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 367px;
            }
    }

}

.anchors {
    display: flex;
    gap: 8px;
    
    @media screen and (min-width: 1200px) {
            gap: 12px;
        }

    &__products {
        padding: 7px 10px;
        @include anchors_link-fonts;
        color: getColor('main-text-black');
        text-decoration: none;

        border: 2px solid getColor('main-yellow');
        border-radius: 8px;
    }

    &__about {
        @include anchors_link-fonts;
        color: getColor('main-yellow');
    }

}

.block-gallery {
    display: none;
    &__text {
            color: #FCFCFC;
            @include hero_text-fonts;
        }
}

.institutions {
    display: none;
}
