.backdrop {
    position: fixed;

    overflow: auto;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);


    transition: opacity 250ms($cubic-bezier), visibility 250ms($cubic-bezier);

    z-index: 20;

}



.header-modal {
    position: absolute;
    padding: 40px;

    width: 280px;
    max-width: 100%;

    background-color: getColor('modalback-and-textcolor-white');
    border-radius: 10px;
    border: 2px solid #F8D24E;


    @media screen and (min-width: 768px) {

        margin-right: auto;
        margin-left: auto;
        min-width: 568px;
        min-height: 644px;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        z-index: 30;
        opacity: 0;
        visibility: hidden;
    }
}

.close-modal {
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: none;

    transition: color 250ms($cubic-bezier);
    fill: currentColor;

    &:hover,
    &:focus {
        color: getColor('main-background-color');
    }

    @media screen and (min-width: 768px) {
        top: 20px;
        right: 20px;
    }
}

.form-header {
    display: flex;
    flex-direction: column;

    &__name {
        @include modal_title-fonts;

        display: flex;
        justify-content: center;

        color: getColor('main-text-black');
    }
}

.form-header,
.header-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkbox-group {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 32px;
    }
}

.checkbox {
    position: relative;
    margin-top: 103px;
}

.kind-icecream {
    appearance: none;
}

.checkbox-text {
    position: absolute;
    bottom: 20;
    left: 10%;

    @include bnproduct_title-fonts;

}

.checkbox--green,
.checkbox--yellow,
.checkbox--orange {
    display: inline-block;
    width: 132px;
    height: 136px;
    border-radius: 12px;
    background-color: getColor('modalback-and-textcolor-white');
}

.checkbox--green {
    border: 2px solid #84A178;
}

.kind-icecream:checked+.checkbox--green {
    background-color: getColor('main-background-color');
}

.checkbox--yellow {
    border: 2px solid #EFD478;
}

.kind-icecream:checked+.checkbox--yellow {
    background-color: getColor('product-background-yellow');
}

.checkbox--orange {
    border: 2px solid #D6936D;
}

.kind-icecream:checked+.checkbox--orange {
    background-color: getColor('product-text-babyshit');
}

.checkbox-first::before {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -50px;
    background-image: linear-gradient(0deg, rgba(156, 190, 143, 1), rgba(156, 190, 143, 0.7));
    box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
    background-repeat: no-repeat;
    border: none;
}

.checkbox-first::after {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -57px;
    background-image: url(../images/mobile/main/products-1_s-@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/mobile/main/products-1_s-@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/mobile/main/products-1_s-@3x.png);
    }
}

.checkbox-second::before {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -50px;
    background-image: linear-gradient(0deg, rgba(248, 210, 78, 1), rgba(248, 210, 78, 0.7));
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
    background-repeat: no-repeat;
    border: none;
}

.checkbox-second::after {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -57px;
    background-image: url(../images/mobile/main/products-2_s-@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/mobile/main/products-2_s-@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/mobile/main/products-2_s-@3x.png);
    }
}

.checkbox-third::before {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -50px;
    background-image: linear-gradient(0deg, rgba(213, 117, 63, 1), rgba(213, 117, 63, 0.7));
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
    background-repeat: no-repeat;
    border: none;
}

.checkbox-third::after {
    content: '';
    position: absolute;
    display: block;
    width: 132px;
    height: 132px;
    border-radius: 50%;
    left: 4;
    top: -57px;
    background-image: url(../images/mobile/main/products-3_s-@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/mobile/main/products-3_s-@2x.png);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
        background-image: url(../images/mobile/main/products-3_s-@3x.png);
    }
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    gap: 16px;

    &__input {
        @include modal_form-fonts;
        height: 32px;
        width: 224px;
        // width: 100%;
        padding-left: 12px;
        border: 1px solid #84A178;
        border-radius: 10px;
        color: getColor('main-text-black');
        background-color: getColor('personal-info-background');
        transition: border 250ms($cubic-bezier);

        &:invalid:not(:placeholder-shown) {
            border-color: red;
        }

        &:valid:not(:placeholder-shown) {
            border-color: #84A178;
        }

        &:focus {
            outline: none;
            border: 1px solid #F8D24E;
        }

        @media screen and (min-width: 768px) {
            min-width: 368px;
            height: 42px;
        }
    }

    &__comment {
        resize: none;
        width: 224px;
        height: 64px;
        padding: 8px 12px;
        border: 1px solid #84A178;
        border-radius: 10px;
        color: getColor('main-text-black');
        background-color: getColor('personal-info-background');

        &:focus {
            outline: none;
            border: 1px solid #F8D24E;
        }

        @media screen and (min-width: 768px) {
            min-width: 368px;
            height: 84px;
        }
    }
}

.button-form {
    @include button();
    @include base-fonts;
    margin-top: 32px;
    width: 121px;
}