// Franchising modal

.franchise__button {
    @include button();
}

.backdrop {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
  
    background: rgba(0, 0, 0, 0.2);
}

.franchise-modal {
    position: absolute;
    left: 50%;
    top: 50%;

    width: 280px;
    z-index: 999;
 
    background-color: getColor('modalback-and-textcolor-white');
    border: 2px solid getColor('main-yellow');
    border-radius: 10px;

    transform: translate(-50%, -50%);

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 28px;
    padding-bottom: 28px;

    @media screen and (min-width: 768px) {
        width: 568px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.franchise-modal__head {
    @include modal_title-fonts;
    margin-bottom: 20px;

    @media screen and (min-width: 768px) {
        width: 322px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
}

.franchise-modal__text {
    @include modal_text-fonts;
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.franchise-modal__group {
    margin-bottom: 24px;

    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }
}

.franchise-modal__group input {
    margin-bottom: 12px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}

.franchise-modal__item {
    display: flex;
    justify-content: center;
}

.franchise-modal__input,
.franchise-modal__message {
    @include modal_form-fonts;

    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;

    @media screen and (min-width: 768px) {
        width: 368px;
    }

    &::placeholder {
        @include modal_placeholder-fonts;
        color: getColor('main-text-black');

        @media screen and (min-width: 768px) {
            font-size: 14px;
        }
    }
}

.franchise-modalsubmit__btn {
    @include button();
    @include btn_modal-fonts;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

.franchise-modalclose__btn {
    @include modal-close();

    position: absolute;
    top: 8px;
    right: 8px;
  
    @media screen and (min-width: 768px) {
      top: 20px;
      right: 20px;
    }
}

