// Franchising modal

.franchise__button {
  @include button();
}

.backdrop {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;

  background: rgba(0, 0, 0, 0.2);
}

.franchise-modal {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 280px;
  z-index: 999;

  background-color: getColor('modalback-and-textcolor-white');
  border: 2px solid getColor('main-yellow');
  border-radius: 10px;

  transform: translate(-50%, -50%);

  padding-left: 30px;
  padding-right: 30px;
  padding-top: 28px;
  padding-bottom: 28px;

  @media screen and (min-width: 768px) {
    width: 568px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.franchise-modal__head {
  @include modal_title-fonts;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    width: 322px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }
}

.franchise-modal__text {
  @include modal_text-fonts;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.franchise-modal__group {
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.franchise-modal__group input {
  margin-bottom: 12px;

  @media screen and (min-width: 768px) {
    margin-bottom: 16px;
  }
}

.franchise-modal__item {
  display: flex;
  justify-content: center;
}

.franchise-modal__input,
.franchise-modal__message {
  @include modal_form-fonts;

  background: rgba(248, 210, 78, 0.1);
  border: 1px solid #84A178;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 368px;
  }

  &::placeholder {
    @include modal_placeholder-fonts;
    color: getColor('main-text-black');

    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
  }
}

.franchise-modalsubmit__btn {
  @include button();
  @include btn_modal-fonts;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.franchise-modalclose__btn {
  @include modal-close();

  position: absolute;
  top: 8px;
  right: 8px;

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}


// Location modal
.location-modal {

  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  transition: $cubic-bezier $main-transition-time;
  padding: 40px;
  border-radius: 10px;
  background-color: getColor('modalback-and-textcolor-white');
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 568px;
  }

}

.modal,
.overlay {
  visibility: hidden;

}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;

}

.location-close__button {
  @include modal-close();
  
    position: absolute;
    top: 8px;
    right: 8px;
  
    @media screen and (min-width: 768px) {
      top: 20px;
      right: 20px;
    }
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // position: absolute;
  // border-radius: 50%;
  // border: 1px solid rgba(0, 0, 0, 0.1);
  // background-color: var(--btnlet-color);
  // transition: fill var(--timing-function);
  // cursor: pointer;
  // top: 8px;
  // right: 8px;
  // width: 16px;
  // height: 16px;
  // padding: 6px;

  // @media screen and (min-width: 768px) {
  //   top: 10px;
  //   right: 10px;
  //   width: 20px;
  //   height: 20px;
  // }
}

// .location-close__button:hover,
// .location-close__button {
//   fill: getColor('bright-green-btn');
// }

.location-modal__map {
  padding: 0;
  background-color: getColor('modalback-and-textcolor-white');
}

.location-modal__frame {
  max-width: 224px;
  height: 199px;
  margin-left: 28px;
    margin-right: 28px;
    margin-top: 20px;

  @media screen and (min-width: 768px) {
    max-width: 448px;
    height: 260px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top:32px;
  }
}

.location-modal__head {
  @include modal_title-fonts();
  display: block;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('#131313;');
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.location-modal__btn {
  @include button();
  @include btn_modal-fonts;
  
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;

    @media screen and (min-width: 768px){
      margin-top: 32px;
    }
  // display: block;
  // width: 132px;
  // height: 42px;
  // font-weight: 700;
  // font-size: 16px;
  // line-height: calc(30/16);
  // background-color: var(--btnbg-color);
  // text-align: center;
  // border: none;
  // border-radius: 4px;
  // margin: 0 auto;
  // margin-top: 20px;
  // cursor: pointer;
  // font-family: 'Montserrat';
  //     font-style: normal;
  //     font-weight: 600;
  //     font-size: 12px;
  //     line-height: 15px;
  //     display: flex;
  //     align-items: center;
  //     text-align: center;
  //     color: #131313;
}

// .location-modal__btn:hover {
//     background-color: green;
// }

// .location-modal__btn:focus {
//     background-color: green;
//     color: #FCFCFC;
// }
// STYLES MODAL PRODUCTS


// .backdrop {
//   display: block;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.2);
//   visibility: visible;
//   opacity: 1;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     overflow: scroll;
// }

// .backdrop.is-hidden {
// opacity: 0;
//  pointer-events: none;
// visibility: hidden;
// } 

/* Оформление формы */

.modal-products {
  padding: 32px 40px;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 30;
  transform: translate(-50%, -50%);
  transition: $cubic-bezier $main-transition-time;
  padding: 40px;
  border-radius: 10px;
  background-color: getColor('modalback-and-textcolor-white');
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 568px;
  }

}

.modal,
.overlay {
  visibility: hidden;

}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;

}

.location-close__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--btnlet-color);
  transition: fill var(--timing-function);
  cursor: pointer;
  top: 8px;
  right: 8px;
  width: 16px;
  height: 16px;
  padding: 6px;

  @media screen and (min-width: 768px) {
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}

.location-close__button:hover,
.location-close__button {
  fill: getColor('bright-green-btn');
}

.location-modal__map {
  padding: 0;
  background-color: getColor('modalback-and-textcolor-white');
}

.location-modal__frame {
  max-width: 224px;
  height: 199px;

  @media screen and (min-width: 768px) {
    max-width: 448px;
    height: 260px;
  }
}

.location-modal__head {
  @include modal_title-fonts();
  display: block;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.03em;
  color: getColor('#131313;');
  margin-bottom: 25px;
  margin-left: 0;
  margin-right: 0;
}

.location-modal__btn {
  @include button();
  // display: block;
  // width: 132px;
  // height: 42px;
  // font-weight: 700;
  // font-size: 16px;
  // line-height: calc(30/16);
  // background-color: var(--btnbg-color);
  // text-align: center;
  // border: none;
  // border-radius: 4px;
  // margin: 0 auto;
  // margin-top: 20px;
  // cursor: pointer;
  // font-family: 'Montserrat';
  //     font-style: normal;
  //     font-weight: 600;
  //     font-size: 12px;
  //     line-height: 15px;
  //     display: flex;
  //     align-items: center;
  //     text-align: center;
  //     color: #131313;
}

// .location-modal__btn:hover {
//     background-color: green;
// }

// About modal

// .backdrop {
//   position: fixed;
//   overflow: auto;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.6);

//   opacity: 1;
//   transition: opacity 250ms($cubic-bezier), visibility 250ms($cubic-bezier);

//   z-index: 100;
// }

// .backdrop.is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;

//     .backdrop.is-hidden & {
//         transform: translate(-50%, -50%) scale(0.9);
//     }
// }

.about-modal-box {
  position: absolute;
  padding: 30px 28px;
  top: 20px;

  width: 280px;
  max-width: 100%;
  height: 459px;

  background-color: getColor('modalback-and-textcolor-white');
  border-radius: 10px;
  border: 2px solid #F8D24E;

  @media screen and (min-width: 768px) {

    margin-right: auto;
    margin-left: auto;
    min-width: 568px;
    min-height: 449px;

    padding: 32px 60px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.close-modal {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;

  transition: color 250ms($cubic-bezier);
  fill: currentColor;

  &:hover,
  &:focus {
    color: getColor('main-background-color');
  }

  @media screen and (min-width: 768px) {
    top: 20px;
    right: 20px;
  }
}

.form-about {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: auto;

  &__title {
    @include modal_title-fonts;
    display: flex;
    justify-content: center;

    color: getColor('main-text-black');
  }

  @media screen and (min-width: 768px) {
    gap: 32px;
  }
}

.form-about__videobox {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.form-about__video {
  width: 224px;
  height: 199px;
  border: none;

  @media screen and (min-width: 768px) {
    width: 448px;
    height: 205px;
  }
}

.form-about__text {
  display: flex;
  justify-content: center;
}

.form-about__description {
  @include base-fonts;
  line-height: calc(12 / 8);
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: calc(12 / 8);
  }
}

// .location-modal__btn:focus {
//     background-color: green;
//     color: #FCFCFC;
// }

